<mat-toolbar color="primary">
  <a class="brand" routerLink="/"
    ><span style="margin-left: 40px">Schwettmann</span></a
  >
  <span class="example-spacer"></span>

  <input
    class="searchBox"
    matInput
    type="text"
    ngModel
    name="search"
    placeholder="Eg: Winter Jacket"
    required
    #uemail="ngModel"
    (keyup)="startSearch(uemail.value)"
  />

  <div class="header-container">
    <nav class="navbar">
      <ul class="navbar-items">
        <li class="login">
          <button mat-button (click)="loadCategoryItems('all')">
            All Products
          </button>
        </li>
        <li class="login">
          <button mat-button (click)="loadCategoryItems('men')">Men</button>
        </li>
        <li class="login">
          <button mat-button (click)="loadCategoryItems('women')">Women</button>
        </li>
        <li class="login">
          <button mat-button (click)="loadCategoryItems('kids')">
            Children
          </button>
        </li>
        <li class="login">
          <button mat-button (click)="loadCategoryItems('sports')">
            Sports
          </button>
        </li>
        <li class="login" *ngIf="!isUserAuthenticated">
          <button mat-raised-button color="accent" routerLink="/signin">
            Signin
          </button>
        </li>
        <li class="login" *ngIf="isUserAuthenticated">
          <button
            mat-raised-button
            style="background-color: rgb(255, 196, 0)"
            (click)="onLogout()"
          >
            Logout
          </button>
        </li>
        <li class="cart">
          <div class="demo-section">
            <button mat-icon-button routerLink="/cart">
              <mat-icon matBadge="{{ cartCount }}" matBadgeColor="warn">
                shopping_cart
              </mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
