.header-container {
  width: 90vw;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.searchbar {
  margin-left: 48px;
  width: 70vw;
  height: 56px;
}

.search-form-field {
  width: 90%;
}

.search-input {
  height: 24px;
}

.navbar-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-items li {
  margin-left: 16px;
}

.login {
  margin-left: 48px;
}

.brand {
  text-decoration: none;
  color: inherit;
}

.searchBox {
  height: 48px;
  width: 40vw;
  margin-left: 96px;
  border: 0px solid transparent;
  border-radius: 2px;
  outline: none;
  border-bottom: 2px solid rgb(255, 70, 101);
}
