<mat-toolbar color="primary">
  <span>Schwettmann</span>
  <span class="example-spacer"></span>

  <!-- <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)"> -->
  <form #searchForm="ngForm" class="searchbar">
    <mat-form-field class="search-form-field">
      <input
        class="search-input"
        matInput
        type="text"
        ngModel
        name="search"
        placeholder="Search"
        required
        #search="ngModel"
      />
    </mat-form-field>
  </form>

  <div class="header-container">
    <nav class="navbar">
      <ul class="navbar-items">
        <li class="login">
          <button mat-button>Men</button>
        </li>
        <li class="login">
          <button mat-button>Women</button>
        </li>
        <li class="login">
          <button mat-button>Children</button>
        </li>
        <li class="login">
          <button mat-button>Sports</button>
        </li>
        <li class="login">
          <button mat-button routerLink="/signin">Signin</button>
        </li>
        <li class="cart">
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
