<mat-toolbar color="primary">
  <a class="brand" routerLink="/"><span style="margin-left: 40px;">Schwettmann</span></a>
  <span class="example-spacer"></span>

  <!-- <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)"> -->
  <!-- <form #searchForm="ngForm" class="searchbar">
    <mat-form-field class="search-form-field">
      <input
        class="search-input"
        matInput
        type="text"
        ngModel
        name="search"
        placeholder="Search"
        required
        #search="ngModel"
      />
    </mat-form-field>
  </form> -->

  <input
    class="searchBox"
    matInput
    type="text"
    ngModel
    name="search"
    placeholder="Eg: Winter Jacket"
    required
    #uemail="ngModel"
  />

  <div class="header-container">
    <nav class="navbar">
      <ul class="navbar-items">
        <li class="login">
          <button mat-button>All Products</button>
        </li>
        <li class="login">
          <button mat-button>Men</button>
        </li>
        <li class="login">
          <button mat-button>Women</button>
        </li>
        <li class="login">
          <button mat-button>Children</button>
        </li>
        <li class="login">
          <button mat-button>Sports</button>
        </li>
        <li class="login" *ngIf="!isUserAuthenticated">
          <button mat-raised-button color="accent" routerLink="/signin">
            Signin
          </button>
        </li>
        <li class="login" *ngIf="isUserAuthenticated">
          <button
            mat-raised-button
            style="background-color: rgb(255, 196, 0)"
            (click)="onLogout()"
          >
            Logout
          </button>
        </li>
        <li class="cart">
          <div class="demo-section">
            <button mat-icon-button>
              <mat-icon matBadge="{{cartCount}}" matBadgeColor="warn">
                shopping_cart
              </mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
