
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-center{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 400px;
    
}