<div
  style="
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>Your Cart</h1>
</div>

<div style="display: flex; justify-content: center; align-items: center">
  <div style="width: 80%">
    <h2>Cart Items</h2>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Qty.</th>
          <th>Price</th>
          <th>Total Amt.</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of realCart; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>
            Dummy description for {{ product.name }} with id {{ product.id }}
          </td>
          <td>
            <button mat-stroked-button 
              (click)="product.qty === 1 ? null : modifyQty(product.id, 'dec')"
            >-</button>
            {{product.qty}}
            <button mat-stroked-button (click)="modifyQty(product.id, 'inc')">+</button>
          </td>
          <td>{{ product.price | currency }}</td>
          <td>{{product.price * product.qty! | currency}}</td>
          <td class="action-btns">
            <button mat-raised-button color="accent" (click)="removeItem(product)">
              Delete
            </button>
          </td>
        </tr>
        <tr style="background-color: white;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Gross Total:</strong></td>
            <td>{{grossTotal | currency}}</td>
            <td></td>
        </tr>
        <tr style="background-color: white;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Net Total:</strong></td>
            <td style="background-color: rgb(213, 235, 255);">{{grossTotal - (grossTotal * .1) | currency}} &nbsp;&nbsp;(-10%)</td>
            <td></td>
        </tr>
      </tbody>
    </table>
    <br/>
    <!-- <ul style="background-color: palegoldenrod;">
      <li> <button style="display: inline-block;" style="margin-left: 70vw;" mat-raised-button (click)="onCheckout()">Empty Cart</button></li>
      <li><button style="display: inline-block;" style="margin-left: 70vw;" mat-raised-button color="primary" (click)="onCheckout()">Checkout</button></li>
    </ul> -->
    <ul>
      <li>
        <button mat-raised-button style="background-color: rgb(232, 232, 232);" (click)="emptyTheCart()">Empty Cart</button>
      </li>
      <li>
        <button mat-raised-button color="primary" (click)="onCheckout()">Checkout</button>
      </li>
    </ul>
    
  </div>
</div>
