<div
  *ngIf="isLoading"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  "
>
  <mat-spinner></mat-spinner>
</div>


<div class="home-container">
  <div class="product-card-container">
    <mat-card class="product-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title><h3>{{ product.name }}</h3></mat-card-title>
        <mat-card-subtitle style="color:rgb(0, 136, 255)">Price: {{ product.price | currency}}</mat-card-subtitle>
      </mat-card-header>

      <!-- Product Image -->
      <ng-container *ngIf="isImageLoaded; else skeleton">
        <img mat-card-image [src]="product.image" (load)="onImageLoad()" />
      </ng-container>

      <!-- Skeleton Animation -->
      <ng-template #skeleton>
        <div class="skeleton" style="height: 100px;"></div>
      </ng-template>

      <!-- Product Description -->
      <mat-card-content>
        <p>
          <strong>Description: </strong> Dummy description for {{ product.name }} with <u>id:
          {{ product.id }}</u>
        </p>
        <p><strong>Category: </strong>&nbsp;&nbsp;{{ product.category }}</p>
      </mat-card-content>

      <!-- Add to Cart Button -->
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onAddToCart(product)">Add to Cart +</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
